<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shangsheingoh.scaneat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCG9T940_ZuQgDMZn-h60TgABBbB1dF0mQ" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".FoodList" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".Cart" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".QRCodeGen" />
        <activity android:name=".QRCodeScan" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".PinDeliveryLocation" />
        <activity android:name=".PopUp" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".ConfirmDelivery" />
        <activity android:name=".TimePicker" />
        <activity
            android:name=".AcceptActivity"
            android:label="@string/title_activity_accept"
            android:theme="@style/AppTheme" />
        <activity android:name=".register" />
        <activity android:name=".Announcement" />
        <activity android:name=".login" />
        <activity android:name=".Profile_activity" />
        <activity android:name=".update_profile" />
        <activity android:name=".OrderHelp" />
        <activity android:name=".TrackActivity"></activity>
    </application>

</manifest>